<div class="ui-g">
  <div class="ui-lg-9 ui-lg-nopad">
    <div class="ui-g">
      <div class="ui-lg-4 ui-lg-nopad">
          <img class="ui-lg-12" src="{{event.img}}">
      </div>
      <div class="ui-lg-8">
        <h2>Informations</h2>
        <div>
          <h3>{{event.name}}</h3>
        </div>
        <div>
          <h4>Cinéma</h4><!--{{event.category}}-->
        </div>
        <div>
          Le {{event.dateEvent | dateFr}} {{event.dateEvent | dateFrMonthEntire}}
        </div>
        <div>
          En stock
        </div>
        <div>
          {{event.description}}
        </div>
      </div>
    </div>
    <hr>
    <div class="ui-lg-12">
      <!--
        <button type="button" pButton icon="fa fa-chevron-up" (click)="openPrev()"></button>
        <button type="button" pButton icon="fa fa-chevron-down" (click)="openNext()"></button>
        
        <p-tabView [activeIndex]="index">
            <p-tabPanel header="Header 1">
                Content 1
            </p-tabPanel>
            <p-tabPanel header="Header 2">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Header 3">
                Content 3    
            </p-tabPanel>
        </p-tabView>
      -->
      <h2>
        Adresse
      </h2>
      <p-gmap #gmap [options]="mapOptions" [overlays]="mapOverlays" [style]="{'width':'100%','height':'320px'}" ></p-gmap>
      Toulouse
    </div>
  </div>

  <div class="ui-lg-3">
    <div class="ui-g">
      <div class="ui-lg-2 ui-lg-nopad">
      </div>
      <div class="ui-lg-8 ui-lg-nopad">
        <p-card title="{{event.name}}" subtitle="{{event.dateEvent | dateFr}} {{event.dateEvent | dateFrMonthEntire}}">
          <div class="ui-lg-12"><img src="{{event.imgMin}}"></div>
          <div class="ui-lg-12"><span>Quantité </span><p-spinner [size]="2" [min]="0" [max]="30"></p-spinner></div>
          <div class="ui-lg-12">En stock</div>
          <div class="ui-lg-12">00.00€</div>
          <div class="ui-lg-12">
            <button class="boutonPageAccueil" (click)="addToCart()">
              <a href="http://localhost:4200/Evenements">Réserver</a>
            </button>
          </div>
        </p-card>
      </div>
      <div class="ui-lg-2">
      </div>
    </div>
  </div>
</div>