<p-growl [(value)]="msgs"></p-growl>
<div class="container mt-4">
  <h2>Ajouter un événement</h2>
  <p>Bienvenue dans le module d'ajouts d'événements, entrez les critères que vous souhaitez remplir et puis ajouter ! Vous pouvez
    séléctionner 1 à n critères, ils seront cumulés !
  </p>
  <form class="form pt-2 pl-2 pr-2" style="background-color:rgba(228, 228, 228, 0.842);" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Nom de l'événement : </label>
      <input class="form-control" type="text" id="name" name="name" [(ngModel)]="model.name"/>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="form-inline">
          <div class="dateEvent">
            <label for="dateMin">Date de l'évènement :</label>
            <p-calendar id="dateEvent" [(ngModel)]="model.dateEvent" name="dateEvent"></p-calendar>
            <p-calendar id="dateEvent" [(ngModel)]="model.dateEvent" name="dateEvent" dateFormat="dd/mm/yy"></p-calendar>
          </div>
        </div>
        <div class="form-inline">
          <div class="place">
            <label for="place">Lieu :</label>
            <input pInputText type="text" id="place" name="place" [(ngModel)]="model.place"/>
          </div>
        </div>
        <div class="form-inline">
          <div class="place">
            <label for="price">Prix :</label>
            <input pInputText type="text" id="price" name="price" [(ngModel)]="model.price"/>
          </div>
        </div>
        <div class="form-inline">
            <div class="shortDescription">
              <label for="shortDescription">Résumé</label>
              <input pInputText class="form-group" type="text" id="shortDescription" name="shortDescription" [(ngModel)]="model.shortDescription"/>
            </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <div class="type">
            <label for="type">Type d'événement :</label>
            <select class="col-lg-12 col-md-12" multiple id="type" name="type" [(ngModel)]="model.type">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            <select class="col-lg-12 col-md-12" [(ngModel)]="model.type" id="type" name="type">
              <option *ngFor="let i of keys">{{i}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
            <div class="description">
              <label for="description">Description</label>
              <textarea pInputTextarea class="col-lg-12 col-md-12" id="description" name="description" [(ngModel)]="model.description"></textarea>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <div class="imgMin">
            <label for="imgMin">Ajouter l'image miniature :</label><br>
            <p-fileUpload #fileInputMin mode="basic" name="myFile" id="imgMin" url="http://localhost:8082/heavenmentiel/api/images/min" (onSelect)="onUploadMin($event)" accept="image/*" maxFileSize="1000000">
            </p-fileUpload>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <div class="imgMin">
            <label for="imgMin">Ajouter l'image miniature :</label><br>
            <p-fileUpload #fileInput mode="basic" name="myFile" id="img" url="http://localhost:8082/heavenmentiel/api/images" (onSelect)="onUpload($event)" accept="image/*" maxFileSize="1000000">
            </p-fileUpload>
          </div>
        </div>
      </div>
    </div>
    <div class="available">
      <div class="form-inline">
        <div class="stock">
          <label for="stock">Stock : </label>
          <input pInputText class="form-group" [(ngModel)]="model.stock" type="text" id="stock" name="stock"/>
        </div>
      </div>
      <div class="form pt-2 pb-2">
        <p-slider id="available" name="available" [(ngModel)]="model.stock" [animate]="true"></p-slider>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-lg-5 col-md-6"></div>
      <div class="form pt-1 pb-1">
        <button type="submit" class="btn btn-success">Lancer la recherche</button>
      </div>
    </div>
  </form>
</div>