<div class="ui-lg-12">
  <div class="ui-g" *ngIf="!isEmpty">
    <div class="ui-lg-2"></div>
    <div class="ui-lg-6">
      <div class="ui-lg-12"><h2>Mon panier - Récapitulatif ({{items.length}} évènements)</h2></div>
      <div class="ui-g" *ngIf="!isEmpty">
        <p-table [value]="items">
          <ng-template pTemplate="body" let-item>
              <tr>
                  <td>
                    <div class="ui-g">
                    <div class="ui-lg-2">
                        <img src="{{item.event.imgMin}}" width="100%">
                    </div>
                    <div class="ui-lg-8">
                      <div class="ui-g">
                        <div class="cart-details-name ui-lg-12">
                            <h3>{{item.event.name}}</h3>
                        </div>
                        <div class="cart-details-date ui-lg-12">
                            {{item.event.dateEvent | dateFr}} {{item.event.dateEvent | dateFrMonthEntire}}
                        </div>
                        <div class="cart-details-date ui-lg-12">
                          <p>{{item.event.shortDescription}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="ui-lg-2">
                      <div>
                        {{item.event.price}} x {{item.quantity}} = {{item.event.price * item.quantity}}€
                      </div>
                    </div>                    
                    </div>
                  </td>
                  <!-- <td></td>
                  <td></td>
                  <td></td>
                  <td></td> -->
              </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="ui-lg-2">
      <div class="ui-g">
        <div class="ui-md-4">
          <strong>TOTAL</strong>
        </div>
        <div class="ui-md-4 ui-md-offset-4">
          <strong id="cart-details-price">{{totalPrice}}€</strong>
        </div>
      </div>
      <div class="ui-lg-12">
        <div class="ui-g">
          <div class="ui-lg-1"></div>
          <div class="ui-lg-10">
              <button pButton type="button" (click)="confirmCart()" icon="fa-shopping-basket" class="ui-button-success" label="Confirmer le panier"></button>
          </div>
          <div class="ui-lg-1"></div>
        </div>
      </div>
    </div>
    <div class="ui-lg-2"></div>
  </div>
  <div class="ui-g" *ngIf="isEmpty">
    <div class="ui-lg-3 ui-lg-nopad"></div>
    <div class="ui-lg-6 ui-lg-nopad">
      <p-card styleClass="ui-card-shadow">
        <div class="ui-g">
          <div class="ui-lg-2 ui-lg-nopad"></div>
          <div class="ui-lg-8 ui-lg-nopad">
            <img src="assets/img_divers/fire-firework.jpg" width="100%">
          </div>
          <div class="ui-lg-2"></div>
        </div>
        
        <div class="ui-g">
          <div class="ui-lg-4 ui-lg-nopad"></div>
          <div class="ui-lg-4 ui-lg-nopad">
              <h3 style="text-align: center">Merci pour votre commande :)</h3>
              <button pButton type="button" (click)="redirect()" id="end-cart" icon="fa-chevron-circle-left" class="ui-button-warning" label="Retour Accueil"></button>
          </div>
          <div class="ui-lg-4"></div>
        </div>
      </p-card>
    </div>
    <div class="ui-lg-3"></div>
  </div>
</div>

