<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th></th><th>Evenement</th><th>Date/Lieu</th><th>Type</th><th>Stock</th><th>Etat</th>
            <th>Prix unitaire</th><th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let e of events">
            <td><img src="{{e.img}}" style="width:100px;height:auto"/></td>
            <td><h3>{{e.name}}</h3>
                <p>{{e.description}}</p>
            </td>
            <td>Le {{e.date}} à {{e.place}}</td>
            <td>{{e.type}}</td>
            <td>{{e.stock}}</td>
            <td>
                <p-inputSwitch [(ngModel)]="e.available"></p-inputSwitch>
            </td>
            <td>{{e.price}}€</td>
            <td>
                <button pButton type="button"  icon="fa fa-fw fa-close" class="ui-button-danger"></button>
                <a href="http://localhost:4200/CreateEvents"><button pButton type="button" (click)="linkUpdate(e)" icon="fa fa-fw fa-wrench" class="ui-button-warning"></button></a>
            </td>
            
        </tr>
    </tbody>
</table>
</div>
