<div class="main">
  <div class="col-main">
    <div class="std">
      <div style="width: 700px; margin: auto;">
        <span id="haut" style="font-size: 30px; font-family: roboto-bold;">
          <strong>Mentions l&eacute;gales</strong>
        </span>
        <br />
        <br />
        <br />
        <dl>
          <dt>
            <em class="fa fa-home"></em>&nbsp;Editeur du site et vendeur des produits</dt>
        </dl>
        <br />
        <dl>
          <dd>La Soci&eacute;t&eacute; Web Unity, SARL au capital de 1000 &euro; immatricul&eacute;e au RCS de Montpellier
            sous le n&deg;808 902 514, dont le si&egrave;ge social est situ&eacute; &agrave; l'adresse 34000
            Montpellier, France.
            <br />
            <br />
            <strong>E-mail</strong> :
            <a href="mailto:contact@web-unity.com">contact@web-unity.com</a>
            <br />
            <strong>T&eacute;l&eacute;phone</strong> : 01 23 45 67 89
            <br />
            <br />
          </dd>
        </dl>
      </div>
    </div>