.fa-shopping-basket{
    color: white;
    font-size: 25px;
}
 
.navigation a{
    color: white;
}
 
.navigation a:hover{
    color : #C40018;
}
 
.logo{
    margin:auto!important;
}
 
.header
{
    background-color : #2b2b2b;
    color: whitesmoke;
    /*position: fixed;*/
    z-index: 99;
    width:100%
}
 
#inscription-test
{
    font-weight: bold;
}
 
#logo
{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: #C40018;
}
 
#logo :hover
{
    color: rgb(168, 0, 20);
}

.search-button{
    border-radius: 30px;
    background: #C40018;
    border: 1px solid #C40018;
}
 
.search-button:hover{
    background: rgb(168, 0, 20)!important;
    border: 1px solid rgb(168, 0, 20)!important;
}
 
.menu-burger{
    display : none;
}
 
.menu-no-burger{
    display: flex;
    justify-content: space-between;
}
 
.cart-search{
    margin-top: 0.7em;
    margin-right:20px!important;
}
 
.fa-shopping-basket{
    position: relative;
}
 
@media screen and (max-width:415px){
    .menu-burger{
        display:block!important;
    }
    .menu-no-burger{
        display: none;
    }
}