<div class="header ui-g">
  <div class="menu-burger">
    <button type="button" pButton icon="fa fa-list" (click)="menu.toggle($event)"></button>
    <p-menu #menu popup="popup" [model]="items"></p-menu>
  </div>

  <div class="ui-g-2">
    <a id="logo" class="nav-link" routerLink="/">Logo Heaven'Mentiel</a>
  </div>

  <div class="menu-no-burger ui-g-10">
    <div class="search ui-g-6">
      
    </div>
    <!-- <div>
      <button pButton (click)="disconnect()" type="button" label="Deconnexion" class="ui-button-secondary"></button>
    </div> -->

    <nav class="navigation navbar navbar-expand-lg navbar-light container">
      <a class="navbar-brand" routerLink="/">Accueil</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/SearchEvents">Liste des événements</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/CreateEvents">Ajouts des événements</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/Events">Évènements</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/Profile">Profil</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/Connection">Connexion/Inscription</a></li>
      </ul>
      <button class="search-button" pButton type="button" icon="fa fa-search"></button>
    </nav>

    <div class="member ui-g-2">
      <p-accordion>
        <p-accordionTab *ngIf="!user" header="Me connecter">
          <button pButton (click)="redirect('inscription')" type="button" label="Se connecter" class="ui-button-secondary"></button>
          <div>
            Première connexion ?
            <a id="inscription-text" [routerLink]="['/Connection', 'test']">Inscrivez-vous</a>
          </div>
        </p-accordionTab>
        <p-accordionTab *ngIf="user" header="Mon compte">
          <div>
            Bienvenue
            <span>{{user.firstName}}</span>
          </div>
          <div>
            <button pButton type="button" routerLink= "/Profile" label="Mon Compte" class="ui-button-secondary"></button>
          </div>
          <div>
            <button pButton type="button" routerLink= "/Order" label="Mes Commandes" class="ui-button-secondary"></button>
          </div>
          <div>
            <button pButton (click)="disconnect()" type="button" label="Deconnexion" class="ui-button-secondary"></button>
          </div>
        </p-accordionTab>
      </p-accordion>
      <!--<button pButton type="button" label="Se connecter" class="ui-button-secondary"></button>
    Se connecter-->
    </div>
    <div class="ui-g-2">
      <div class="cart">
        <a class="nav-link" routerLink="/MonPanier">Panier</a>
        <!--<app-mini-cart></app-mini-cart>-->
      </div>
    </div>
  </div>
</div>