<div class="header ui-g">
  <div class="ui-g-2">
      <a id="logo" class="nav-link" routerLink="/">Logo Heaven'Mentiel</a>
  </div>
  <div class="search ui-g-6">
    <input type="text" pInputText />
  </div>
  <div class="member ui-g-2">
    <p-accordion >
      <p-accordionTab *ngIf="!userConnected" header="Me connecter">
          <button pButton (click)="redirect('inscription')" type="button" label="Se connecter" class="ui-button-secondary"></button>
          <div>
            Première connexion ? <a id="inscription-text" [routerLink]="['/Connection', 'test']">Inscrivez-vous</a>
          </div>
      </p-accordionTab>
      <p-accordionTab *ngIf="userConnected" header="Mon compte">
          <div>
              Bienvenue <span>{{userName}}</span>
          </div>
          <div>
            <button pButton type="button" label="Mon Compte" class="ui-button-secondary"></button>
          </div>
          <div>
            <button pButton type="button" label="Mes Commandes" class="ui-button-secondary"></button>
          </div>
      </p-accordionTab>
    </p-accordion>
    <!--<button pButton type="button" label="Se connecter" class="ui-button-secondary"></button>
    Se connecter-->
  </div>
  <div class="ui-g-2">
    <div class="cart">
        <a class="nav-link" routerLink="/MonPanier">Panier</a>
      <!--<app-mini-cart></app-mini-cart>-->
    </div>
  </div>
</div>