.header
{
    background-color : #2b2b2b;
    color: whitesmoke;
}

.cart
{
    margin-left: 80%;
}

#inscription-test
{
    font-weight: bold;
}

#logo
{
    color: crimson;
}

#logo :hover
{
    color: #910a0a;
}

.menu-burger{
    display : none;
}

@media screen and (max-width:415px){
    .menu-burger{
        display:block!important;
    }
    .menu-no-burger{
        display: none;
    }
}