<div class="header ui-g">
  <div class="menu-burger">
    <button type="button" pButton icon="fa fa-list" (click)="menu.toggle($event)"></button>
    <p-menu #menu popup="popup" [model]="itemsBurger"></p-menu>
  </div>

  <div class="ui-g-2 logo">
    <a id="logo" class="nav-link" routerLink="/">Heaven'Mentiel</a>
  </div>

  <div class="menu-no-burger ui-g-10">
    <!-- <div>
      <button pButton (click)="disconnect()" type="button" label="Deconnexion" class="ui-button-secondary"></button>
    </div> -->
    <div>
      <nav class="navigation navbar navbar-expand-lg navbar-light container">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/SearchEvents">Liste des événements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/CreateEvents">Ajouts des événements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Events">Évènements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Profile">Profil</a>
          </li>
          <li *ngIf="!user" class="nav-item">
            <a class="nav-link" routerLink="/Connection">Connexion/Inscription</a>
          </li>

          <li *ngIf="user" class="nav-item">
            <p-menubar [model]="items"></p-menubar>
          </li>
          <li *ngIf="user" class="nav-item">
            <a class="nav-link" (click)="disconnect()" style="cursor: pointer">Déconnexion</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="ui-g cart-search">
      <div class="cart ui-g-nopad">
        <button class="search-button" pButton type="button" icon="fa fa-search"></button>
      </div>
      <div class="search">
        <a class="nav-link" routerLink="/MonPanier">
          <i class="fa fa-shopping-basket">
            <span class="badge badge-primary badge-pill">{{itemsCartLength}}</span>
          </i>
        </a>
      </div>
    </div>
  </div>
</div>