<div class="container mt-3">
  <h2>Rechercher les commandes des utilisateurs</h2>
  <p>Bienvenue dans le module de recherche de commandes !</p>
  <form class="form  mb-2 rounded" (ngSubmit)="onSubmit(null)" style="background-color:#f7b32d">
    <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
          <div class="form-group horizontal-form pl-3 pt-2">
              <h3 class="text-center">Informations sur le client :</h3>
              <label class="control-label" for="keyword">Nom : </label>
              <input class="form-control" type="text" id="lastname" name="lastname" [(ngModel)]="formFields.lastname"/>
              <label class="control-label" for="keyword">Prénom : </label>
              <input class="form-control" type="text" id="name" name="name" [(ngModel)]="formFields.firstname"/>
              <label class="control-label" for="keyword">Id : </label>
              <input class="form-control" type="text" id="idClient" name="idClient" [(ngModel)]="formFields.idClient"/>
          </div>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-sm-12 pt-2">
              <h3 class="text-center mt-3">Informations sur la commande :</h3>
              <label class="control-label" for="dateMin">Du</label>
              <p-calendar id="dateMin" [(ngModel)]="formFields.dateMin" name="datemin" dateFormat="dd/mm/yy"></p-calendar>
              <label class="control-label" for="dateMax">au</label>
              <p-calendar id="dateMax" [(ngModel)]="formFields.dateMax" name="datemax" dateFormat="dd/mm/yy"></p-calendar>
        </div>
        <button type="submit" class="btn btn-success" >Lancer la recherche</button>
    </div>
  </form>

  
  <p-dataTable [value]="commands" [rows]="10" [paginator]="true" [pageLinks]="3">
    <p-header>Liste des Commandes de la base</p-header>
    <p-column field="id" header="IdCommande"></p-column>
    <p-column field="date" header="Date"></p-column>
    <p-column field="user" header="Utilisateur"></p-column>
    <p-column field="nbEvents" header="Nb articles" bodyStyleClass="text-center"></p-column>
    <p-column field="totalPrice" header="Prix total" bodyStyleClass="text-center"></p-column>
    <p-column field="id" header="" bodyStyleClass="text-center">
      <ng-template let-cmd="rowData" pTemplate="body">
          <a [routerLink]="['/DisplayOrder', cmd.id]">
            <button pButton type="button" icon="fa fa-fw fa-eye" class="ui-button-info"></button>
          </a>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>


