<div class="container mt-3">
<div class="ui-lg-12">
  <h3 class="mb-3">Détails de la commande n°{{commande.id}}</h3>
  <p-panel class="order-panel" [toggleable]="true" [collapsed]="true">
      <p-header>
          <div class="ui-g ui-g-nopad">
              <div class="ui-lg-4">
                <span style="display: block">Date commande : {{ commande.date }}</span>
                <span style="display: block">Commande n° : {{commande.id}}</span>
                <span style="display: block">Adresse :</span>
                <div id="test" class="ui-lg-12">
                  <span style="display: block">{{commande.user.adresse}}</span>
                  <span style="display: block">{{commande.user.CodePostal}} {{commande.user.ville}}</span>
                </div>
                <span style="display: block">E-mail :</span>
                <span style="display: block">{{commande.user.mail}}</span>
                <h3 class="mt-2">Montant total : <span class="badge badge-primary">{{total}}€</span></h3>
              </div>
              <div class="v-separator ui-lg-8">
                <div class="ui-lg-12">
                  Évènements réservés : {{commande.achatsEvents.length}}
                </div>
                <div class="ui-lg-12 ui-g-nopad">
                  <div class="ui-g">
                    <div *ngFor="let achat of commande.achatsEvents" class="ui-lg-2">
                      <img src="{{achat.event.imgMin}}" width="100%">
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </p-header>
      <p-table [value]="commande.achatsEvents">
          <ng-template pTemplate="body" let-achat>
              <tr>
                  <td>
                    <div class="ui-g">
                    <div class="ui-lg-2">
                        <img src="{{achat.event.imgMin}}" width="150px">
                    </div>
                    <div class="ui-lg-8">
                      <div class="ui-g">
                        <div class="cart-details-name ui-lg-12">
                            <h3>{{achat.event.name}}</h3>
                        </div>
                        <div class="cart-details-date ui-lg-12">
                            {{achat.event.dateEvent | dateFr}} {{achat.event.dateEvent | dateFrMonthEntire}}
                        </div>
                        <div class="cart-details-date ui-lg-12">
                          <p>{{achat.event.shortDescription}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="ui-lg-2">
                      <div>
                        Quantité : {{achat.qte}}<br/>
                        Prix unitaire : {{achat.event.price}}€<br/>
                        <span class="badge badge-primary">Prix Total : {{achat.event.price*achat.qte}}€</span>
                      </div>
                    </div>                    
                    </div>
                  </td>
                  <!-- <td></td>
                  <td></td>
                  <td></td>
                  <td></td> -->
              </tr>
          </ng-template>
        </p-table>
  </p-panel>
 <!--  <p-card>
      
    <div id="order-resume" class="ui-g">
      <button pButton class="collapse-button ui-button-secondary" type="button" icon="fa-plus" (click)="displayDetails()"></button>

      <div class="ui-lg-4 ui-lg-nopad">
        Test
      </div>
      <div class="ui-lg-8">
        Test
      </div>
    </div>
  </p-card> -->
</div>
</div>
