<div class="container mt-3">
    <h2>Rechercher un événement</h2>
    <p>Bienvenue dans le module de recherche d'événements, entrez les critères que vous souhaitez remplir et lancez la recherche ! 
      Vous pouvez séléctionner 1 à n critères, ils seront cumulés !
    </p>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <form class="form pl-3 pt-3 pb-3 pr-3 rounded" (ngSubmit)="onSubmit()" style="background-color:#f7b32d">
                <div class="form-group horizontal-form">
                    <label class="control-label" for="keyword">Nom de l'événement : </label>
                    <input class="form-control" type="text" id="name" name="name"[(ngModel)]="model.name"/>
                </div>

                <div class="form-group" >
                    <label class="control-label" for="dateMin">Du</label>
                    <p-calendar id="dateMin" [(ngModel)]="model.dateMin" name="dateMin" dateFormat="dd/mm/yy"></p-calendar>
                    <label class="control-label" for="dateMax">au</label>
                    <p-calendar id="dateMax" [(ngModel)]="model.dateMax" name="dateMax" dateFormat="dd/mm/yy"></p-calendar>

                <label class="control-label" for="place">Lieu :</label>
                <input class="form-control" type="text" id="place" name="place" [(ngModel)]="model.place"/>
              </div>

              <div class="form-group">
                <p-listbox [options]="types" [(ngModel)]="model.type" multiple="multiple" checkbox="checkbox" optionLabel="label" name="type">
                  <p-header>
                    Type d'événement
                  </p-header>
                </p-listbox>
              </div>
          

            <div class="form-group">
                <h3>Prix : {{model.price[0] + '€ - ' + model.price[1] + '€'}}</h3>
                <p-slider [(ngModel)]="model.price"  [range]="true" name="price" [min]=0 [max]=800 [step]="20"></p-slider>
            </div>

            <div class="form-row text-center">
                <div class="col-12">
                    <button type="submit" class="btn btn-success" >Lancer la recherche</button>
                </div>
            </div>
            
        </form>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-8">
          <app-events-user-side  [events]="events"></app-events-user-side>
      </div>
    </div>
</div>