<div class="main">
  <div class="col-main">
    <div class="std">
      <div id="return">&nbsp;</div>
      <div style="width: 700px; margin: auto;">
        <span id="haut" style="font-size: 30px; font-family: roboto-bold;">
          <strong>Conditions g&eacute;n&eacute;rales de vente</strong>
        </span>
        <br />
        <span style="font-family: roboto-light; font-size: 13px;">Mise à jour du 11/05/2018</span>
        <br />
        <br />
        <br />
        <ul class="disc">
          <li>
            <a href="#answer1">1 - Pr&eacute;ambule</a>
          </li>
          <li>
            <a href="#answer2">2 - Pr&eacute;sentation des produits</a>
          </li>
          <li>
            <a href="#answer3">3 - Prix des produits</a>
          </li>
          <li>
            <a href="#answer4">4 - Commande</a>
          </li>
          <li>
            <a href="#answer5">5 - Modalit&eacute;s de paiement</a>
          </li>
          <li>
            <a href="#answer5">6 - Livraison</a>
          </li>
          <li>
            <a href="#answer7">7 - Droit de r&eacute;tractation et &eacute;change</a>
          </li>
          <li>
            <a href="#answer8">8 - Relations clients - Service apr&egrave;s-vente</a>
          </li>
          <li>
            <a href="#answer9">9 - Garanties</a>
          </li>
          <li>
            <a href="#answer10">10 - Propri&eacute;t&eacute; intellectuelle</a>
          </li>
          <li>
            <a href="#answer11">11 - Contacts</a>
          </li>
        </ul>
        <p>&nbsp;</p>
        <dl>
          <dt id="answer1">Article 1 : Pr&eacute;ambule</dt>
        </dl>
        <dl>
          <dd>Les conditions g&eacute;n&eacute;rales de vente d&eacute;crites ci-apr&egrave;s d&eacute;taillent les droits et
            obligations de&nbsp;WEB UNITY&nbsp; et de ses clients dans le cadre de la vente des marchandises pr&eacute;sentes
            sur ce site. Toute prestation accomplie par WEB UNITY implique l'adh&eacute;sion sans r&eacute;serve de
            l'acheteur aux pr&eacute;sentes conditions g&eacute;n&eacute;rales de vente.</dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt id="answer1">Article 2 : Pr&eacute;sentation des produits</dt>
        </dl>
        <br />
        <dl>
          <dd>Les caract&eacute;ristiques des produits propos&eacute;s &agrave; la vente sont pr&eacute;sent&eacute;es dans les
            diff&eacute;rentes rubriques de notre site. Les photographies n'entrent pas dans le champ contractuel. La responsabilit&eacute;
            de WEB UNITY ne peut &ecirc;tre engag&eacute;e si des erreurs s'y sont introduites. Tous les textes et images
            pr&eacute;sent&eacute;s sur le site de WEB UNITY sont r&eacute;serv&eacute;s, pour le monde entier, au titre
            des droits d'auteur et de propri&eacute;t&eacute; intellectuelle; leur reproduction, m&ecirc;me partielle, est
            strictement interdite.</dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt id="answer3">Article 3 : Prix des produits</dt>
        </dl>
        <dl>
          <dd>Les diff&eacute;rentes rubriques de notre site indique les prix en euros toutes taxes comprises, hors frais de
            port. Le montant de la TVA est pr&eacute;cis&eacute; lors de la s&eacute;lection d'un produit par le client et
            les frais de port apparaissent sur l'&eacute;cran &agrave; la fin de la s&eacute;lection des diff&eacute;rents
            produits par le client.
            <br />
            <br /> WEB UNITY&nbsp;se r&eacute;serve le droit de modifier ses prix &agrave; tout moment mais les produits command&eacute;s
            sont factur&eacute;s au prix en vigueur lors de l'enregistrement de la commande.
            <br />
            <br /> Les tarifs propos&eacute;s comprennent les rabais et ristournes que WEB UNITY serait amen&eacute;e &agrave;
            octroyer compte tenu de ses r&eacute;sultats ou de la prise en charge par l'acheteur de certaines prestations.
            <br
            />
            <br /> Aucun escompte ne sera accord&eacute; en cas de paiement anticip&eacute;.</dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt id="answer4">Article 4 : Commande</dt>
        </dl>
        <dl>
          <dd>Le client valide sa commande lorsqu'il clique sur &laquo;Validez votre commande&raquo; en bas de la page &laquo;Paiment
            - 5 .R&eacute;capitulatif de la commande&raquo; apr&egrave;s avoir accept&eacute; les pr&eacute;sentes conditions
            de vente. Avant cette validation, il est syst&eacute;matiquement propos&eacute; au client de v&eacute;rifier
            chacun des &eacute;l&eacute;ments de sa commande; il peut ainsi corriger ses erreurs &eacute;ventuelles.
            <br />
            <br /> Dans certains cas, notamment pour d&eacute;faut de paiement, adresse erron&eacute;e ou tout autre probl&egrave;me
            li&eacute; &agrave; votre compte, WEB UNITY se r&eacute;serve le droit de bloquer votre commande jusqu'&agrave;
            la r&eacute;solution du probl&egrave;me.
            <br />
            <br /> WEB UNITY&nbsp;confirme la commande par courrier &eacute;lectronique, en reprennant notamment tous les
            &eacute;l&eacute;ments de la commande sous forme de facture.
            <br />
            <br /> Les donn&eacute;es enregistr&eacute;es par WEB UNITY constituent la preuve de la nature, du contenu et
            de la date de la commande. Celle-ci est archiv&eacute;e par&nbsp;WEB UNITY dans les conditions et les d&eacute;lais
            l&eacute;gaux; le client peut acc&eacute;der &agrave; cet archivage en contactant le service Relations Clients.
            <br
            />
            <br /> Les produits sont propos&eacute;s &agrave; la vente jusqu'&agrave; &eacute;puisement du stock. En cas de commande
            d'un produit devenu indisponible, le client sera inform&eacute; de cette indisponibilit&eacute;, dans les meilleurs
            d&eacute;lais, par courrier &eacute;lectronique ou par courrier postal.</dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt>Article 5 : Modalit&eacute;s de paiement</dt>
        </dl>
        <dl>
          <dd>Les diff&eacute;rentes rubriques de notre site indique les prix en euros toutes taxes comprises, hors frais de
            port. Le montant de la TVA est pr&eacute;cis&eacute; lors de la s&eacute;lection d'un produit par le client et
            les frais de port apparaissent sur l'&eacute;cran &agrave; la fin de la s&eacute;lection des diff&eacute;rents
            produits par le client.
            <br />
            <br />
            <strong>Vous payez avec votre compte Paypal</strong> (uniquement disponible pour une livraison en France et Monaco).
            En choisissant le paiement via PayPal, Vous serez automatiquement dirig&eacute; sur votre compte PayPal. Une
            fois le paiement Paypal valid&eacute;, Vous pourrez terminer votre commande sur le Site Internet.
            <br /> Vous pouvez &eacute;galement payer par Carte Bleu, Mastercard, Visa, American Express tout en utilisant le syst&egrave;me
            de paiement de Paypal.
            <br />
            <br /> Paypal est un organisme de paiement s&eacute;curis&eacute;. Pour plus d'informations &agrave; ce propos,&nbsp;
            <a href="https://www.paypal.com/fr/webapps/mpp/paypal-popup" target="_blank">visitez leur page</a>
          </dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt>Article 6 : Livraison</dt>
        </dl>
        <dl>
          <dd>Tout produit est livr&eacute; sans garantie quant aux d&eacute;lais, exception faite des livraisons aux particuliers.
            La date limite de livraison varie suivant leur adresse. Nous ne sommes pas responsable de toute retard de livraison
            d&ucirc; &agrave; des gr&ecirc;ves, causes naturelles ou autres facteurs non pr&eacute;visible.
            <br /> Livraison en France continentale et monde entier se font en colissimo pour la france (3 &agrave; 5 jours &agrave;
            partir de la remise de votre colis de produits &agrave; La Poste), la livraison est effectu&eacute;e par La Poste.</dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt id="answer7">Article 7 : Droit de r&eacute;tractation et &eacute;change</dt>
        </dl>
        <dl>
          <dd>Vous disposez d'un droit de r&eacute;traction de quatorze (14) jours calendaires &agrave; compter de la date de
            r&eacute;ception ou de retrait de l&rsquo;ensemble de votre commande. Apr&egrave;s 14 jours, aucun remboursement
            ou &eacute;change n'est possible.
            <br /> Tous les Produits peuvent faire l'objet d&rsquo;une r&eacute;tractation, except&eacute; ceux exclus par la loi
            &agrave; l&rsquo;article L121-21-8 du Code de la Consommation, par exemple les Produits ayant fait l'objet d'une
            personnalisation sur votre demande ou d'une retouche), les Produits ayant &eacute;t&eacute; descell&eacute;s
            et qui ne peuvent &ecirc;tre renvoy&eacute;s pour des raisons d&rsquo;hygi&egrave;ne (ex : collants port&eacute;s).
            <br
            /> Tout produit qui aura &eacute;t&eacute; ab&icirc;m&eacute; ou d&eacute;t&eacute;rior&eacute; ne sera ni rembours&eacute;
            ni &eacute;chang&eacute;. Dans le meilleur des cas, le remboursement ne sera pas complet.
            <br />
            <br /> Vous devez retourner les Produits &agrave; WEB UNITY, au plus tard dans les quatorze (14) jours suivant
            votre r&eacute;tractation par La Poste &agrave; l&rsquo;adresse suivante : Web unity - 34000 Montpellier.
            <br />
            <br /> Les frais de retour via La Poste sont &agrave; votre charge (&agrave; l'exception d'un Produit d&eacute;fectueux
            &agrave; r&eacute;ception, ou d'une erreur de notre part lors de l'envoi du Produit).
            <br />
            <br /> Si vous ne retournez pas l'int&eacute;gralit&eacute; de votre commande et conservez un ou des Produits command&eacute;s,
            le montant des frais de livraison lors de la livraison du produit ne sera pas rembours&eacute; par WEB UNITY.
            <br
            />
            <br /> Le remboursement sera effectu&eacute; via le moyen de paiement utilis&eacute; lors de la commande ou par ch&eacute;que.</dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt id="answer8">Article 8 : Relation clients - Service apr&egrave;s-vente</dt>
        </dl>
        <dl>
          <dd>Pour toutes informations, questions ou r&eacute;clamations vous pouvez envoyez un mail &agrave; :
            <strong>contact@web-unity.com</strong> ou contacter la boutique gr&acirc;ce au
            <a href="http://localhost:4200/Contact">formulaire de contact.</a>
          </dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt id="answer9">Article 9 : Garanties</dt>
        </dl>
        <dl>
          <dd>Tous les produits en vente sur le Site Internet WEB UNITY b&eacute;n&eacute;ficient de la garantie l&eacute;gale
            de conformit&eacute; (L211-1 et suivant du Code de la Consommation) et de la garantie contre les vices cach&eacute;s
            (articles 1641 et suivants du Code Civil), vous permettant de renvoyer les Produits livr&eacute;s d&eacute;fectueux
            ou non conformes.
            <br /> Si vous souhaitez faire une r&eacute;clamation concernant des d&eacute;fauts de mat&eacute;riaux ou de fabrication
            &eacute;vidents dans les marchandises que nous vous avons livr&eacute;es, veuillez nous le faire savoir en nous
            retournant imm&eacute;diatement les marchandises et en utilisant le formulaire de retour pr&eacute;-imprim&eacute;
            fourni.</dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt id="answer10">Article 10 : Propri&eacute;t&eacute; intellectuelle</dt>
        </dl>
        <dl>
          <dd>Tous les droits de propri&eacute;t&eacute; intellectuelle, tels que les marques d&eacute;pos&eacute;s et droits
            d'auteur, demeurent la propri&eacute;t&eacute; de WEB UNITY et de ses possesseurs
            ou conc&eacute;dants de licences. Toute utilisation du site ou de son contenu, y compris la
            photocopie ou la conservation partielle ou int&eacute;grale d'un tel contenu, autre que par votre utilisation
            personnelle sans modification du contenu et &agrave; des fins d'utilisation non-commerciales, est interdite sans
            la permission pr&eacute;alable de WEB UNITY. Leur divulgation ne saurait en aucun cas &ecirc;tre interpr&eacute;t&eacute;e
            comme accordant une licence ou un droit d'utilisation quelconque des dites marques et &eacute;l&eacute;ments
            distinctifs prot&eacute;g&eacute;s par le droit d'auteur. Ainsi, aucun des documents provenant du Site Internet
            ne peut &ecirc;tre copi&eacute;, reproduit, republi&eacute;, t&eacute;l&eacute;charg&eacute;, post&eacute;, transmis
            ou distribu&eacute; d'aucune mani&egrave;re que ce soit.
            <br />
            <br /> Si vous disposez d'un site Internet &agrave; titre personnel et vous d&eacute;sirez placer, pour un usage personnel,
            un lien simple renvoyant directement &agrave; la page d'accueil du Site Internet de WEB UNITY, vous devez
            obligatoirement en demander l'autorisation &agrave; la soci&eacute;t&eacute; WEB UNITY. Il ne s'agira en
            aucun cas d'une convention implicite d'affiliation.</dd>
        </dl>
        <br />
        <br />
        <dl>
          <dt id="answer11">Article 11 : Contacts</dt>
        </dl>
        <dl>
          <dd>Web unity
            <br /> 34000 Montpellier
            <br /> E-mail : contact@web-unity.com</dd>
          <dd>T&eacute;l&eacute;phone : 01 23 45 67 89</dd>
        </dl>
      </div>
    </div>
  </div>