<div class="ui-g-12" *ngIf="totalRecords < 1">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
        <h2>Recherche infructueuse :(</h2>
        <h3>Veuillez réessayer avec de nouveaux critères</h3>
    </div>
    <div class="ui-g-2"></div>
</div>

<div class="row" *ngIf="totalRecords > 0">
<p-dataGrid [value]="events" [paginator]="true" [rows]="itemsByPage" [totalRecords]="totalRecords" (onPageChange)="paginate($event)">
    <p-header>
      Évènements correspondants 
    </p-header>
    <ng-template let-event pTemplate="item">
      <div style="padding:3px" class="ui-lg-4 ui-md-6 ui-sm-12">
        <p-panel [style]="{'text-align':'center'}" class="pannel-accueil">
          <div class="flex-event">
            <div class="event-img">
                <a (click)="redirect(event.id)" href="http://localhost:4200/Evenement/"><img src="{{event.imgMin}}" width="208,67"></a>
            </div>
            <div class="flex-event-detail">
              <div class="flex-event-date-name">
                <div class="event-date">
                  <p>{{event.dateEvent | dateFr}}
                    <br>{{event.dateEvent | dateFrMonth}}</p>
                </div>
                <div class="event-name-stock">
                  <div class="event-name">{{event.name}}</div>
                  <div class="event-type">{{event.dateEvent | date:'HH'}}h{{event.dateEvent | date:'mm'}} - {{event.type}}</div>
                  <div class="event-stock">Encore {{event.stock}} places restantes</div>
                </div>
              </div>
              <div class="event-price">
                <div>
                  <button (click)="redirect(event.id)" class="boutonPageAccueil">
                    <a href="http://localhost:4200/Evenement/">Réserver</a>
                  </button>
                </div>
                <div>Tarif : {{event.price}}€ </div>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </ng-template>
  </p-dataGrid>
</div>

<!-- <div class="row">
  <div *ngFor="let e of events" class="col-lg-5 col-md-5 col-sm-5 offset-lg-1 offset-md-1 offset-sm-1 card-event">
        <h3 class="text-center">{{e.name}}</h3>
        <div class="card-event-img">
            <img src="{{e.img}}"/>
        </div>
        
        <div class="form-group mt-1 ml-1 mr-1">
            <p-button class="ui-button-info" label="{{e.date | date : 'dd/MM/yyy'}}" icon="fa fa-calendar" iconPos="left"></p-button>
            <p-button class="ui-button-warning" label="{{e.place}}" icon="fa fa-map-marker" iconPos="left"></p-button><br/>
            <p-button class="mt-1 ui-button-seconday" label="{{e.type}}" icon="fa fa-film" iconPos="left"></p-button>
        </div>

        <p class="mt-1 ml-2 mr-2">
            {{e.shortDescription}} 
        </p>

        <div class="card-event-bottom text-center">
            <button pButton (click)="redirect(e.id)" type="button"  icon="fa fa-fw fa-shopping-basket" class="ui-button-secondary">
                <a href="http://localhost:4200/Evenement/">Réserver</a>
            </button>
            <span class="badge badge-secondary price">{{e.price}}€</span>
        </div>

  </div>
</div> -->