<div class="row">
  <div *ngFor="let e of events" class="col-lg-5 col-md-5 col-sm-5 offset-lg-1 offset-md-1 offset-sm-1 card-event">
        <h3 class="text-center">{{e.name}}</h3>
        <div class="card-event-img">
            <img src="{{e.img}}"/>
        </div>
        
        <div class="form-group mt-1 ml-1 mr-1">
            <p-button class="ui-button-info" label="{{e.date | date : 'dd/MM/yyy'}}" icon="fa fa-calendar" iconPos="left"></p-button>
            <p-button class="ui-button-warning" label="{{e.place}}" icon="fa fa-map-marker" iconPos="left"></p-button><br/>
            <p-button class="mt-1 ui-button-seconday" label="{{e.type}}" icon="fa fa-film" iconPos="left"></p-button>
        </div>

        <p class="mt-1 ml-2 mr-2">
            {{e.shortDescription}} 
        </p>

        <div class="card-event-bottom text-center">
            <button pButton type="button"  icon="fa fa-fw fa-shopping-basket" class="ui-button-success" label="Ajouter au panier"></button>
            <span class="badge badge-secondary price">{{e.price}}€</span>
        </div>

  </div>
</div>