<header>
	<app-menu></app-menu>
	<!--
	<h1 class="p-3 mb-2 bg-info text-center">{{title}}</h1> -->
	<nav class="navbar navbar-expand-lg navbar-light container">
		<a class="navbar-brand" routerLink="/">Accueil</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" routerLink="/SearchEvents">Liste des événements</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/CreateEvents">Ajouts des événements</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/Events">Évènements</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/Connection">Connexion/Inscription</a></li>
		</ul>
	</nav>
</header>
<router-outlet>
</router-outlet>

