/* You can add global styles to this file, and also import other style files */  
@import "../node_modules/primeng/resources/themes/omega/theme.css";  
@import "../node_modules/primeng/resources/primeng.min.css";  
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";  
@import "../node_modules/font-awesome/css/font-awesome.css";
 
header{
    /*position: fixed;*/
    top:0;
    width:100%
}

footer{
    /*position: fixed;*/
    bottom:0;
    width:100%;
}

.nav-link{
    padding:0!important;
    margin-left:20px!important;
}

.nav-link:focus{
    color : #C40018!important;
}

 
.ui-menubar{
    background: transparent!important;
    border-color: transparent!important;
    color: white!important;
    padding:0!important;
    margin-left: 20px!important;
}
 
.ui-menuitem .ui-menuitem-link{
    color:white!important;
    background-color: transparent!important;
    padding:0!important;
}
 
.ui-menuitem .ui-menuitem-link, .ui-megamenu:hover{
    background-color: transparent!important;
}
 
.ui-menubar a:hover, .ui-menubar a:active{
    color : #C40018!important;
}
 
.ui-menubar .ui-submenu-list{
    background: #2b2b2b!important;
    border:0!important;
}
 
.ui-panel .ui-panel-content{  
    padding:0!important;  
} 

.ui-panel-titlebar{  
    display:none;  
}  
.ui-tabview .ui-tabview-panel  
{  
    opacity : 1!important;  
    padding : 0!important;  
}  
  
#inscription-text  
{  
    font-weight: bold;  
}  
  
h3{  
    font-size : 1.3em;  
}  
  
.card-event{  
    overflow-wrap:break-word;  
    padding:0;  
    background-color:rgba(228, 228, 228, 0.829);  
    margin-bottom:20px;  
}  
  
.card-event h3{background-color:#fd2e2e;margin:0;padding:4px 0px;}  
.card-event-img{overflow:hidden;height:150px;}  
.card-event-bottom{background-color:rgb(46, 46, 46);margin:0;padding:4px 0px;}  
.price{font-size:1.3em;background-color:#fd2e2e;}
 
.badge-panier{
    font-size:50%!important;
    position: absolute;
    left: 50%;
    top:63%;
}
 
.badge-primary{
    background-color: #C40018;
}