<!-- Carousel des 5 derniers events -->
<div id="carouselAccueil" class="carousel slide" data-ride="carousel" data-interval="5000">
  <ol class="carousel-indicators">
    <li data-target="#carouselAccueil" data-slide-to="0" class="active"></li>
    <li data-target="#carouselAccueil" data-slide-to="1"></li>
    <li data-target="#carouselAccueil" data-slide-to="2"></li>
    <li data-target="#carouselAccueil" data-slide-to="3"></li>
    <li data-target="#carouselAccueil" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div *ngFor="let e of listFiveEvents ; let i = index" [ngClass]="(i == 0) ? 'ng-star-inserted carousel-item active' : 'ng-star-inserted carousel-item'">
      <a (click)="redirect(e.id)" href="http://localhost:4200/Evenement/"><img class="d-block w-100 carouselimg" src="{{e.img}}" alt="{{e.name}}"></a>
      <div class="carousel-caption d-none d-md-block">
        <p>{{e.dateEvent | dateFr}} {{e.dateEvent | dateFrMonthEntire}} - {{e.dateEvent | date:'HH'}}h{{e.dateEvent | date:'mm'}}</p>
        <h5>{{e.name | eventNameUpper}}</h5><br>
        <button (click)="redirect(e.id)" class="boutonPageAccueil"><a href="http://localhost:4200/Evenement/">Réserver</a></button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselAccueil" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselAccueil" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

<!-- Liste de tous les events -->
<div class="list-events">
  <p-dataGrid [value]="listEvents" [paginator]="true" [rows]="12">
    <p-header>
      Prochains événements
    </p-header>
    <ng-template let-event pTemplate="item">
      <div style="padding:3px" class="ui-lg-4 ui-md-6 ui-sm-12">
        <p-panel [style]="{'text-align':'center'}" class="pannel-accueil">
          <div class="flex-event">
            <div class="event-img">
                <a (click)="redirect(event.id)" href="http://localhost:4200/Evenement/"><img src="{{event.imgMin}}" width="208,67"></a>
            </div>
            <div class="flex-event-detail">
              <div class="flex-event-date-name">
                <div class="event-date">
                  <p>{{event.dateEvent | dateFr}}
                    <br>{{event.dateEvent | dateFrMonth}}</p>
                </div>
                <div class="event-name-stock">
                  <div class="event-name">{{event.name}}</div>
                  <div class="event-type">{{event.dateEvent | date:'HH'}}h{{event.dateEvent | date:'mm'}} - {{event.type}}</div>
                  <div class="event-stock" *ngIf="event.stock > 30">En stock</div>
                  <div class="event-stock" *ngIf="event.stock > 0 && event.stock <= 30">Encore {{event.stock}} places restantes</div>
                  <div class="event-stock" *ngIf="event.stock < 1">Complet</div>
                </div>
              </div>
              <div class="event-price">
                <div>
                  <button (click)="redirect(event.id)" class="boutonPageAccueil">
                    <a href="http://localhost:4200/Evenement/" *ngIf="event.stock > 0">Réserver</a>
                    <a href="http://localhost:4200/Evenement/" *ngIf="event.stock < 1">Infos</a>
                  </button>
                </div>
                <div>Tarif : {{event.price}}€ </div>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </ng-template>
  </p-dataGrid>
</div>
<br>